<mat-card appearance="outlined" style="padding: 0px;">
    <div class="header">
        <div class="insideheader">
            <mat-icon svgIcon="menu-icon" aria-hidden="false" aria-label="menu icon"
                style="width:30px; margin: 0 1%; height:0%; margin-top:18px"></mat-icon>
            <div class="header-logo-tag">
                <div class="header-logo">
                    <img src="../../assets/keep.png" 
                    style="width: 95%;
                        height: 74%;
                        margin-top: 4px;
                        margin-right: 14px;">
                </div>
                <span class="header-tag">Keep</span>
            </div>
            <div class="header-search">
                <mat-icon svgIcon="search-icon" aria-hidden="false" aria-label="search icon"
                    style="width:15px; margin-left:14px; margin-top: 10px; margin-right: 23px; height:0%;padding-top:1%"></mat-icon>
                <input class="header-search-input" type="text" placeholder="Search"
                    style="border:none; background-color: whitesmoke; width:94%; height: 46px;">
            </div>
            <div class="header-icons">
                <mat-icon svgIcon="refresh-icon" aria-hidden="false" aria-label="refresh icon" style="margin-top: 6px;"></mat-icon>
                <mat-icon svgIcon="list-view-icon" aria-hidden="false" aria-label="list view icon" style="margin-top: 6px;"></mat-icon>
    
                <mat-icon svgIcon="setting-icon" aria-hidden="false" aria-label="setting icon" style="margin-top: 6px;"></mat-icon>
            </div>
    
            <div class="header-icons-detailed" style="display: flex;">
                <mat-icon svgIcon="menu-icon1" style="margin-top: 7px;"></mat-icon>
    
            </div>
            <div 
            style="margin-top: 7px;margin-top: 7px;
            width: 222px;
            margin-right: 29px;">
            <mat-card style="height: 20px;display: flex; justify-content: space-around;">
                <div>
                    <img src="../../assets/MicrosoftTeams-image.png" alt="digit image" style="width: 50px; height: 20px;">
                </div>
                <div>
                    <img src="../../assets/MicrosoftTeams-image.png" alt="digit image" style="width: 50px; height: 20px;">
                </div>
            </mat-card></div>
        </div>
    </div>
</mat-card>
