<div class="navbar">
    <div class="navbar-contents" [routerLink]="['/dashboard/notes']"    >
        <mat-icon svgIcon="note-icon" aria-hidden="false" aria-label="note icon"></mat-icon>
        <span>Note</span>
    </div>
    <div class="navbar-contents" >
        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <span>Reminder</span>
    </div>
    <!-- <div class="navbar-contents">
        <mat-icon>label</mat-icon>
        <span>hjjh</span>
    </div> -->
    <div class="navbar-contents">
        <mat-icon svgIcon="edit-icon" aria-hidden="false" aria-label="edit icon"></mat-icon>
        <span>Edit label</span>
    </div>
    <div class="navbar-contents" [routerLink]="['/dashboard/archieve']">
        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"></mat-icon>
        <span>Archive</span>
    </div>
    <div class="navbar-contents" [routerLink]="['/dashboard/trash']">
        <mat-icon svgIcon="trash-icon" aria-hidden="false" aria-label="trash icon"></mat-icon>
        <span>Trash</span>
    </div>
</div>
