.notecard {
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 236, 236);
    margin-left: 2%;
    align-items: left;
    height: auto;
    width: 250px;
    margin-bottom: 30px;
    padding: 8%;
    // width:100%;
    // border:1px solid gray;
    border-radius: 1rem;
}

.notecard-content {
    display: flex;
    flex-direction: column;
}

.notecard-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
}