<div class="notecard">
    <div class="notecard-content">
        <span>
            <h3>{{noteDetails.title}}</h3>
        </span>
        <span>
            {{noteDetails.description}}
        </span>
    </div>
    <div class="notecard-icons">
        <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
        <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color palatte icon"></mat-icon>
        <mat-icon svgIcon="img-icon" aria-hidden="false" aria-label="img icon"></mat-icon>
        <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive icon"
            (click)="handleDelete()"></mat-icon>
        <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more icon"></mat-icon>

        <!-- <mat-icon svgIcon="delete-forever-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="restore-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        <mat-icon svgIcon="unarchive-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon> -->
    </div>
</div>
