<div style="width: 100%; height: 100%; display: flex; flex-direction: column">
    <app-header style="width: 100%; height:25%; position: fixed; top: 0; z-index: 50;"></app-header>
    <!-- <main style="display: flex; justify-content: space-between;"> -->
        <div style="width: 100%; display: flex;">
            <div>
                <app-navbar style="width: 20%; height: 100%; position: fixed; top: 100px;"></app-navbar>
            </div>
            <div style="width: 80%; position: relative; left: 12%; top: 100px;">
                <router-outlet></router-outlet>
            </div>
        </div>
            

        <!-- <div class="content" [ngStyle]="{'background-image': 'url(' + noteIcon1 + ')'}">
            <mat-card class="card">
                <input type="text" class="input" placeholder="Take a note...">
                <div style="display: flex; justify-content: space-around; width: 188px;padding-top: 7px;">

                    <span>
                        <mat-icon svgIcon="checkbox" aria-hidden="false" aria-label="checkbox icon"></mat-icon>
                    </span>
                    <span>
                        <mat-icon svgIcon="brush-icon" aria-hidden="false" aria-label="brush icon"></mat-icon>
                    </span>
                    <span>
                        <mat-icon svgIcon="image" aria-hidden="false" aria-label="image icon"></mat-icon>
                    </span>
                </div>
            </mat-card>
        </div> -->
        
        
    <!-- </main> -->
</div>
